<a href="https://colab.research.google.com/github/Swanimadhoop/python_basics_strings/blob/main/strings_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list1=[0,1,2,3,4,5] list[1:4] print(list1)

In [ ]:
#tuple
my_tuple=[1,2,3,4,5]
for tup in my_tuple[:5]:
 print(tup)

1
2
3
4
5

In [ ]:
#dictionary
imsc_1={1:"Adithyan",2: "Amjad"}
multiple=[]
for each in imsc_1:
  multiple.append(1)
print(imsc_1[1])

Adithyan

In [ ]:
#dictionary
my_list=[1,2,3,4,5]
for each in range(0,4):
  print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

**reversing a list**

In [ ]:
my_list=[]
x=int(input("enter the number of elements: "))
while x>0:
  y=input("enter the elements: ")
  my_list.append(y)
  x=x-1

my_list.reverse()
print("reversed number= ",my_list)

enter the number of elements: 5
enter the elements: desk
enter the elements: mote
enter the elements: paper
enter the elements: craft
enter the elements: kit
reversed number=  ['kit', 'craft', 'paper', 'mote', 'desk']

***concatenate list***

In [ ]:
list1=[]
list2=[]
list3=[]
x=int(input("enter the number of elements in list 1: "))
t=x
while x>0:
  y=input("enter the elements in list 1: ")
  list1.append(y)
  x=x-1

a=int(input("enter the number of elememts in list 2: "))
while a>0:
  b=input("enter the elements: ")
  list2.append(b)
  a=a-1

for i in range(0,t):
  list3.append(list1[i]+list2[i])
 
print("concatenated list= ",list3)

enter the number of elements in list 1: 3
enter the elements in list 1: my
enter the elements in list 1: cat
enter the elements in list 1: be
enter the number of elememts in list 2: 3
enter the elements: pen
enter the elements: house
enter the elements: mine
concatenated list=  ['mypen', 'cathouse', 'bemine']

**square of items in a list with values from 1 to 10**

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,10):
  list_1[i]=list_1[i]*list_1[i]
print(list_1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1. Create a tuple with different data type tuple and reverse it .
2. Count no of occurence of of an item from a tuple .
3. Unpack a tuple into several ways .
4. Find element wise sum of a tuple .
5. Convert a tuple to dictionary  .
6. Remove an item from a set if it is present .
7. Create intersection of sets .
8. Find min and max value in a set .
9. Check if two given sets have no elements in common .
10. Sort a dictionary by value .
11. Concatinate two dictionary to create a new one .
12. Print a dictionary where the keys are in the range of 10 -20 and values are the square of the keys .
14. Remove duplicates from dictionary .
15. Create a dictionary from a string .

**Remove empty string from a list of strings**

In [ ]:
string =["hi" ,"", "I","","am","","Swani"]
for s in string:
  if s=="":
    string.remove(s)
print(string)

['hi', 'I', 'am', 'Swani']

**Find a particular item in a list [1,3,10,12,13] and if present replace it with its square value(only update the first occurance)**

In [ ]:
my_list=[1,2,3,4,7,8,10,12]

**Remove all occurence of a specific item from the list**

In [ ]:
string=["I","have ","a","a","cat."]
for s in string:
  if s=="a":
    string.remove(s)
print(string)

['I', 'have ', 'a', 'cat.']

**Create a tuple with different data type tuple and reverse it**

In [ ]:
my_tuple=("happy",2,2.05,[1,2,3])
my_tuple=my_tuple[::-1]
print(my_tuple)

([1, 2, 3], 2.05, 2, 'happy')

**Count no of occurence of an item from a tuple**

In [ ]:
my_tuple=[1,2,3,4,3,4,3,5,6,3,9,9]
count= my_tuple.count(3)
print(count)

4

**Unpack a tuple into several ways**

In [ ]:
#1
my_tuple=("Hi",2,2.05)
x,y,z= my_tuple
print(x,y,z)

#2
my_list=list(my_tuple)
print(my_list)

#3
for index, item in enumerate(my_tuple):
  print(index,item)

Hi 2 2.05
['Hi', 2, 2.05]
0 Hi
1 2
2 2.05

**Find element wise sum of a tuple**

In [ ]:
tuple1=(1,2,3,4)
tuple2=(1,2,3,4)
result=[]
for x,y in zip(tuple1, tuple2):
  result.append(x+y)
result=tuple(result)
print(result)

(2, 4, 6, 8)

**convert a tuple into dictionary**

In [ ]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))
my_dict = dict(my_tuple)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

**Remove an item from a set if it is present**

In [ ]:
my_set={1,2,3,4,5,6}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 6}

**Create intersection of sets**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection = set1 & set2

print(intersection)

{3, 4}

**Find min and max value in a set**

In [ ]:
my_set={1,2,3,4,5,6,7}
minimum=min(my_set)
maximum=max(my_set)
print("minimum=",minimum)
print("maximum=",maximum)

minimum= 1
maximum= 7

**Check if two given sets have no elements in common**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 5, 6}

if not set1 & set2:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have elements in common.

**Sort a dictionary by value**

In [ ]:
my_dict={"swani","car","phone"}
sort_dict= sorted(my_dict)
print(sort_dict)

['car', 'phone', 'swani']

**Concatinate two dictionary to create a new one**

In [ ]:
dict1={3:"car",6: "man", 5:"keep",1:"still"}
dict2={4:"phone",7: "ashfaq", 2:"snapchat"}
dict1.update(dict2)
print(dict1)

{3: 'car', 6: 'man', 5: 'keep', 1: 'still', 4: 'phone', 7: 'ashfaq', 2: 'snapchat'}

**Print a dictionary where the keys are in the range of 10-20 and value are the square of the keys**

In [ ]:
my_list=[]
for x in range(10,20):
  my_list.append(x**2)
print(my_list)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

**remove duplicates from dictionary**

In [ ]:
my_list=["swani", "swani" ,"you","swani"]
for s in my_list:
  if s=="swani":
    my_list.remove(s)
print(my_list)

['you', 'swani']

**create a dictionary from a string**

In [ ]:
string={1:"swani", 2:"print", 3:"card"}
print(string[1])

swani

In [ ]:
my_list=[1,2,3,4,5,6]
list=[]
for each in my_list:
  if each%2==0:
    list.append(each*each)
print(list)

[4, 16, 36]

In [ ]:
list=[1,2,3,4,5,6]
sq_list=[each*each for each in list if each%2==0]
print(sq_list)

[4, 16, 36]

In [ ]:
my_list=[1,2,3,4,5,6]
list=[]
for each in my_list:
  if each%2==0:
    list.append(each*each)
  elif each%3==0:
    list.append(each*each*each)
print(list)

[4, 27, 16, 36]

**list comprehension**

In [ ]:
string=("1  2 3  4 ")
list=string.split()
print(list)
int_i=[int(i) for i in list]
  
int_i

['1', '2', '3', '4']

[1, 2, 3, 4]

In [ ]:
list=[1,2,3,4,5,6]